@{
    ViewBag.Title = "Twilio Video Quickstart";
}

<div ng-app="twilioVideoExample" ng-controller="videochatController">
    <div ng-repeat="(s, m) in remoteParticipants">
        <twilio-video id="remote-media" media="m"></twilio-video>
    </div>
    <div id="controls">
        <div id="preview">
            <p class="instructions">Hello Beautiful</p>
            <twilio-video id="local-media" media="previewMedia"></twilio-video>
            <button id="button-preview" ng-click="previewCamera()">Preview My Camera</button>
        </div>
        <div id="invite-controls" ng-style="clientConnected && {'display':'block'}">
            <p class="instructions">Invite another Video Client</p>
            <input id="invite-to" type="text" placeholder="Identity to send an invite to" ng-model="inviteTo" />
            <button id="button-invite" ng-click="sendInvite()">Send Invite</button>
        </div>
        <div id="log">
            <p>&gt;&nbsp;<span id="log-content" ng-bind="log">Preparing to listen</span>...</p>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/videoQuickstart")
}