@{
    ViewBag.Title = "Twilio Video Quickstart";
}

<div ng-app="app" ng-controller="VideoChatController as vm">
    <div ng-repeat="(sid, media) in vm.remoteParticipants">
        <twilio-video id="remote-media" media="media"></twilio-video>
    </div>
    <div id="controls">
        <div id="preview">
            <p class="instructions">Hello Beautiful</p>
            <twilio-video id="local-media" media="vm.previewMedia"></twilio-video>
            <button id="button-preview" ng-click="vm.previewCamera()">Preview My Camera</button>
        </div>
        <div id="invite-controls" ng-style="vm.clientConnected && {'display':'block'}">
            <p class="instructions">Invite another Video Client</p>
            <input id="invite-to" type="text" placeholder="Identity to send an invite to" ng-model="vm.inviteTo" />
            <button id="button-invite" ng-click="vm.sendInvite()">Send Invite</button>
        </div>
        <div id="log">
            <p>&gt;&nbsp;<span id="log-content" ng-bind="vm.log">Preparing to listen</span>...</p>
        </div>
    </div>
</div>
@section scripts {
    <script src="/Scripts/app/app.module.js" type="text/javascript"></script>
    <script src="/Scripts/app/core/directives/twilio-video.directive.js" type="text/javascript"></script>
    <script src="/Scripts/app/core/services/token.service.js" type="text/javascript"></script>
    <script src="/Scripts/app/videochat/videochat.controller.js" type="text/javascript"></script>
}