<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//media.twiliocdn.com/sdk/quickstart/conversations-quickstart.min.css">
    <style>
         div#remote-media video {
            height: initial;
        }
    </style>
</head>
<body>
    @RenderBody()
                 
    <script src="//media.twiliocdn.com/sdk/js/common/releases/0.1.4/twilio-common.min.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/conversations/releases/0.13.5/twilio-conversations.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
